@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
  cursor: url('assets/images/crosshairs.png') 14 14, auto;
}

body {
  font-family: 'Share Tech Mono', monospace;
  color: #FFFFFF;
  margin: auto;
  text-align: center;
  background-image: url('assets/images/stars.png');
  background-color: #203864;
}
h1 {
  margin-top: 2px;
  font-size: 60px;
}
#top-menu{
  display: block;
  height: 15vh;
}
#game-container {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  height:100%;
}

#play-game {
  font-size: 56px;
  width: 500px;
  height:250px;
  border-radius: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.45), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
  background-color: #392fc0;
  color: #FFFFFF;
  z-index: 9999;
  position: absolute;
  top: 25%;
  left: 25%;
}
.game-option:hover {
  background-color: #ffffff;
}

#earth{
  z-index: -99;
  position: absolute;
  height: 80%;
  right: 0;
  top: 10%;
  user-select: none;
}
.battle-zone {
  display: flex;
  align-content: space-around;
  height: 100%;
  width:100%;
  padding-top:10%;
}
.alien-zone {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100%;
  width: 65%;
}
.player-zone {
  display: flex;
  width: 35%;
}
.player-container {
  position: relative;
  left:0;
  top:0;
}
#player-ship {
  position: absolute;
}
#player-damage {
  position: absolute;
}
.alien-slot{
  flex-grow: 1;
}
g:hover {
  cursor: url('assets/images/red-crosshairs.png') 14 14, auto;
}
#no-shoot:hover {
  cursor: url('assets/images/noshoot-crosshairs.png') 14 14, auto;
}

#bottom-menu {
  position: fixed;
  display: flex;
  background:rgb(190, 234, 255);
  border-radius: 10px 0 0 10px;
  color: #000000;
  bottom:0;
  width: 100%;
  min-height: 50px;
  justify-content: space-between;
}

#bottom-menu-displays{
  width:100%;
  user-select: none;
}
#health {
  padding: 0 35px 15px 0;
  user-select: none;
}
#health-bar {
  position: relative;
  border-radius: 5px;
  width:300px;
  height: 30px;
  background-color: #990808;
}
#health-remaining {
  border-radius: 5px;
  width:300px;
  height: 100%;
  background-color: #20c200;
}
.laser {
  z-index: -3;
}