body {
  font-family: sans-serif;
  margin: auto;
  text-align: center;
}

.battle-zone {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
}
#alien-ship {
  cursor:pointer;
}
button {
  padding: 10px 20px;
  border-radius: 7px;
}